<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>lakshmanpilakagmail.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://managesocio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>managesocio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>managesocio</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$managesocio</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mqjkakgxkk.database.windows.net,1433;Initial Catalog=managesocio_db;User ID=laks@mqjkakgxkk;Password=sqlPassword@123" Name="Data Source=tcp:mqjkakgxkk.database.windows.net,1433;Initial Catalog=managesocio_db;User Id=laks@mqjkakgxkk;Password=sqlPassword@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="managesocio.Models.TenantDbContext, managesocio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="sociodata" Order="2" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mqjkakgxkk.database.windows.net,1433;Initial Catalog=sociodata;Persist Security Info=True;User ID=laks;Password=sqlPassword@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sociodata_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mqjkakgxkk.database.windows.net,1433;Initial Catalog=sociodata;Persist Security Info=True;User ID=laks;Password=sqlPassword@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sociodataConnectionString" Order="3" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mqjkakgxkk.database.windows.net;Initial Catalog=sociodata;Persist Security Info=True;User ID=laks;Password=sqlPassword@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sociodataConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mqjkakgxkk.database.windows.net;Initial Catalog=sociodata;Persist Security Info=True;User ID=laks;Password=sqlPassword@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://lakshmanpilakagmail.onmicrosoft.com/WebApp-managesocio.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>c8877469-ef77-4ab4-be29-436a41e9a8df</ADClientAPPID>
    <ADClientPassword />
    <ADReplyUrl>https://managesocio.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/lakshmanpilakagmail.onmicrosoft.com/wsfed</ADIssuer>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mqjkakgxkk.database.windows.net,1433;Initial Catalog=managesocio_db;User Id=laks@mqjkakgxkk;Password=sqlPassword@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>